*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	outline: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: url(bg.svg);
	background-size: cover;
	/*background-position: center;*/
	animation: anime 15s alternate infinite;
}

.box-login{
	width: 400px;
	height: min-content;
	padding: 40px;
	background-color: #fff;
	text-align: center;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .7);
	
}

@keyframes anime{
	50%{
		background-position: 50%;
	}
}

.box-login h2 {
	font-size: 2.2rem;
	color: #333;
}
.box-login p {
	font-size: 1.2rem;
	color: #222;
	margin-top: 5px;
}

form{
	text-align: left;
	margin-top: 30px;
}
.box-form{
	margin: 18px 0;
}

.box-form label {
	font-size: 1.1rem;
	display: block;
}
.box-form i{
	position: absolute;
	font-size: 23px;
	transform: translateX(10px) translateY(12px);
	color: #333;
}

.box-form input{
	width: 100%;
	height: 38px;
	border: 2px solid rgba(0, 0, 0, .3);
	padding: 10px 0px 10px 40px;
	margin-top: 5px;
	border-radius: 3px;
	transition: .3s;
	cursor: pointer;
}
.box-form input:focus{
	border: 2px solid darkblue;
	box-shadow:0 0 12px rgba(0, 0, 255, .3);
}
form .box-form input:valid{
	background-color: #fefefe;
}

.forgot {
	text-decoration: none;
	color: darkblue;
}
.forgot:hover{
	color: lightblue;
}

input[type=submit]{
	width: 100%;
	margin-top: 20px;
	height: 39px;
	background: linear-gradient(0deg,darkblue,blue);
	border-radius: 5px;
	font-size: 1rem;
	color: #fff;
}

/*@media (max-width=390px){
	.box-login{
		width: 200px;
		height: min-content;
	}
}*/














































